apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-app
spec: 
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: dev-app
  template:
    metadata:
      labels:
        app: dev-app
    
    spec:
      containers:
        - name: dev-app
          image: 869935075544.dkr.ecr.ap-south-1.amazonaws.com/dev-app:v5
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          envFrom:
          - configMapRef:
              name: dev-app-configmap
          - secretRef:
              name: dev-app-secret
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5

  