apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-app
spec: 
  replicas: 2
  selector:
    matchLabels:
      app: dev-app
  template:
    metadata:
      labels:
        app: dev-app
    
    spec:
      containers:
        - name: dev-app
          image: dev-app:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
  