name: CI-CD-EKS

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: ap-south-1
  ECR_REPOSITORY: dev-app
  CLUSTER_NAME: devops-eks

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build & Push Docker image
      run: |
        IMAGE_TAG=${{ github.sha }}
        docker build -t $ECR_REPOSITORY:$IMAGE_TAG ./app
        docker tag $ECR_REPOSITORY:$IMAGE_TAG 869935075544.dkr.ecr.ap-south-1.amazonaws.com/dev-app:$IMAGE_TAG
        docker push 869935075544.dkr.ecr.ap-south-1.amazonaws.com/dev-app:$IMAGE_TAG
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig --region $AWS_REGION --name $CLUSTER_NAME

    - name: Deploy to EKS
      run: |
        sed -i "s|IMAGE_PLACEHOLDER|869935075544.dkr.ecr.ap-south-1.amazonaws.com/dev-app:${IMAGE_TAG}|g" k8s/deployment.yaml
        kubectl apply -f k8s/

